<% include ../partials/header %>

<div class="container">
    <h1 class="text-center">/r/<%= subreadit.name %></h1>
    <div class="row">
        <div class="col-xs-9">
            <% subreadit.posts.reverse().forEach(function(post) { %>
                <div class="well well-sm">
                    <a href="/r/<%= subreadit.name%>/<%= post._id %>" style="word-wrap: break-word;"><%= post.title %></a><br>
                    <p>submitted by
                        <a class="post-links" href="#">user</a>
                    </p>
                    <a class="post-links" href="/r/<%= subreadit.name%>/<%= post._id %>/comments/new">comment</a>
                    <a class="post-links" href="#">save</a>
                    <a class="post-links" href="/r/<%= subreadit.name%>/<%= post._id %>/edit">edit</a>
                    <form style="display: inline;" id="delete-form" action="/r/<%= subreadit.name %>/<%= post._id %>?_method=DELETE" method="POST">
                          <a class="post-links" href="javascript:{}" onclick="document.getElementById('delete-form').submit();">delete</a>
                    </form>
                </div>
            <% }); %>

        </div>
        <div class="col-xs-3">
            <div class="well">
                <h4 class="text-center">/r/<%= subreadit.name %></h4>
                <p class="text-center"><%= subreadit.description %></p>
            </div>
            <div class="well">
                <form action="/r/<%= subreadit.name %>/search" method="POST">
                    <input type="text" class="form-control text-center" placeholder="search">
                </form>
            </div>
            <div class="well">
                <a class="btn btn-large btn-primary btn-block" href="/r/<%= subreadit.name %>/new">Submit a new text post</a>
                <a class="btn btn-large btn-primary btn-block" href="/r/new">Create your own subreadit</a>
            </div>
        </div>
    </div>

</div>

<% include ../partials/footer %>
